In [1]:
# Import Dependicies

import pandas as pd
import numpy as np

In [3]:
# Read CSVs

csv_2019 = "../Resources/JC-201912-citibike-tripdata.csv"
csv_2020 = "../Resources/JC-202012-citibike-tripdata.csv"

bike_data_2019 = pd.read_csv(csv_2019)
bike_data_2020 = pd.read_csv(csv_2020)

In [4]:
# View bike 2019 data

bike_data_2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1553,2019-12-01 00:07:13.9360,2019-12-01 00:33:07.6820,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,1
1,416,2019-12-01 00:16:40.4700,2019-12-01 00:23:36.5700,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,1
2,294,2019-12-01 00:20:29.7980,2019-12-01 00:25:23.9690,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,1
3,97,2019-12-01 00:21:13.7580,2019-12-01 00:22:51.5970,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,1
4,286,2019-12-01 00:29:58.0230,2019-12-01 00:34:44.2280,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,1

In [7]:
# View bike 2020 data

bike_data_2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,146,2020-12-01 00:02:50.1450,2020-12-01 00:05:16.1940,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,2
1,572,2020-12-01 00:11:57.3910,2020-12-01 00:21:30.2510,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,2
2,387,2020-12-01 00:14:49.3610,2020-12-01 00:21:16.8730,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,1
3,188,2020-12-01 00:45:06.3680,2020-12-01 00:48:14.4280,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,1
4,594,2020-12-01 01:17:17.0110,2020-12-01 01:27:11.9400,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,1

In [8]:
# Checking value types for 2019

bike_data_2019.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [9]:
# Checking value types for 2020

bike_data_2020.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [10]:
# Changing gender column to string values

bike_data_2019['gender'] = bike_data_2019['gender'].astype(str)
bike_data_2020['gender'] = bike_data_2020['gender'].astype(str)

In [14]:
# Changing gender column to reflect Female/Male for 2019

gender_2019 = bike_data_2019['gender']
female_2019 = gender_2019.replace('2', 'Female')
male_2019 = female_2019.replace('1', 'Male')
unknown_2019 = male_2019.replace('0', 'Unknown')
bike_data_2019['gender'] = unknown_2019
bike_data_2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1553,2019-12-01 00:07:13.9360,2019-12-01 00:33:07.6820,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,Male
1,416,2019-12-01 00:16:40.4700,2019-12-01 00:23:36.5700,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,Male
2,294,2019-12-01 00:20:29.7980,2019-12-01 00:25:23.9690,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,Male
3,97,2019-12-01 00:21:13.7580,2019-12-01 00:22:51.5970,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,Male
4,286,2019-12-01 00:29:58.0230,2019-12-01 00:34:44.2280,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,Male

In [15]:
# Changing gender column to reflect Female/Male for 2020

gender_2020 = bike_data_2020['gender']
female_2020 = gender_2020.replace('2', 'Female')
male_2020 = female_2020.replace('1', 'Male')
unknown_2020 = male_2020.replace('0', 'Unknown')
bike_data_2020['gender'] = unknown_2020
bike_data_2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,146,2020-12-01 00:02:50.1450,2020-12-01 00:05:16.1940,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,Female
1,572,2020-12-01 00:11:57.3910,2020-12-01 00:21:30.2510,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,Female
2,387,2020-12-01 00:14:49.3610,2020-12-01 00:21:16.8730,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,Male
3,188,2020-12-01 00:45:06.3680,2020-12-01 00:48:14.4280,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,Male
4,594,2020-12-01 01:17:17.0110,2020-12-01 01:27:11.9400,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,Male

In [16]:
# Calculating the age of each biker

current_year = 2021

birth_year_2019 = bike_data_2019['birth year']
age = current_year - birth_year_2019
bike_data_2019['age'] = age

birth_year_2020 = bike_data_2020['birth year']
age = current_year = birth_year_2020
bike_data_2020['age'] = age

In [17]:
# Rearrange 2019 columns

bike_data_2019_rearranged = bike_data_2019[["bikeid",
                                       "gender",
                                       "birth year",
                                       "age",
                                       "tripduration",
                                       "start station id",
                                       "start station name",
                                       "start station latitude",
                                       "start station longitude",
                                       "starttime",
                                       "end station id",
                                       "end station name", 
                                       "end station latitude",
                                       "end station longitude",
                                       "stoptime"]]

bike_data_2019_rearranged.head()

,bikeid,gender,birth year,age,tripduration,start station id,start station name,start station latitude,start station longitude,starttime,end station id,end station name,end station latitude,end station longitude,stoptime
0,29462,Male,1980,41,1553,3681,Grand St,40.715178,-74.037683,2019-12-01 00:07:13.9360,3198,Heights Elevator,40.748716,-74.040443,2019-12-01 00:33:07.6820
1,29610,Male,1956,65,416,3195,Sip Ave,40.730897,-74.063913,2019-12-01 00:16:40.4700,3679,Bergen Ave,40.722104,-74.071455,2019-12-01 00:23:36.5700
2,26166,Male,1977,44,294,3195,Sip Ave,40.730897,-74.063913,2019-12-01 00:20:29.7980,3678,Fairmount Ave,40.725726,-74.071959,2019-12-01 00:25:23.9690
3,29492,Male,1993,28,97,3202,Newport PATH,40.727224,-74.033759,2019-12-01 00:21:13.7580,3638,Washington St,40.724294,-74.035483,2019-12-01 00:22:51.5970
4,29440,Male,1990,31,286,3195,Sip Ave,40.730897,-74.063913,2019-12-01 00:29:58.0230,3679,Bergen Ave,40.722104,-74.071455,2019-12-01 00:34:44.2280

In [18]:
# Rearrange 2020 columns

bike_data_2020_rearranged = bike_data_2019[["bikeid",
                                       "gender",
                                       "birth year",
                                       "age",
                                       "tripduration",
                                       "start station id",
                                       "start station name",
                                       "start station latitude",
                                       "start station longitude",
                                       "starttime",
                                       "end station id",
                                       "end station name", 
                                       "end station latitude",
                                       "end station longitude",
                                       "stoptime"]]

bike_data_2020_rearranged.head()

,bikeid,gender,birth year,age,tripduration,start station id,start station name,start station latitude,start station longitude,starttime,end station id,end station name,end station latitude,end station longitude,stoptime
0,29462,Male,1980,41,1553,3681,Grand St,40.715178,-74.037683,2019-12-01 00:07:13.9360,3198,Heights Elevator,40.748716,-74.040443,2019-12-01 00:33:07.6820
1,29610,Male,1956,65,416,3195,Sip Ave,40.730897,-74.063913,2019-12-01 00:16:40.4700,3679,Bergen Ave,40.722104,-74.071455,2019-12-01 00:23:36.5700
2,26166,Male,1977,44,294,3195,Sip Ave,40.730897,-74.063913,2019-12-01 00:20:29.7980,3678,Fairmount Ave,40.725726,-74.071959,2019-12-01 00:25:23.9690
3,29492,Male,1993,28,97,3202,Newport PATH,40.727224,-74.033759,2019-12-01 00:21:13.7580,3638,Washington St,40.724294,-74.035483,2019-12-01 00:22:51.5970
4,29440,Male,1990,31,286,3195,Sip Ave,40.730897,-74.063913,2019-12-01 00:29:58.0230,3679,Bergen Ave,40.722104,-74.071455,2019-12-01 00:34:44.2280

In [19]:
# Rename 2019 columns

bike_data_2019_renamed = bike_data_2019_rearranged.rename(columns={"bikeid":"Bike ID", 
                                                              "gender":"Gender",
                                                              "birth year":"Birth Year",
                                                              "age":"Age",
                                                              "tripduration":"Trip Duration",
                                                              "start station id":"Start Station ID",
                                                              "start station name":"Start Station Name",
                                                              "start station latitude":"Start Station Latitude",
                                                              "start station longitude":"Start Station Longitude",
                                                              "starttime":"Start Time",
                                                              "end station id":"End Station ID",
                                                              "end station name":"End Station Name",
                                                              "end station latitude":"End Station Latitude",
                                                              "end station longitude":"End Station Longitude",
                                                              "stoptime":"Stop Time"})

bike_data_2019_renamed.head()

,Bike ID,Gender,Birth Year,Age,Trip Duration,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,Start Time,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Stop Time
0,29462,Male,1980,41,1553,3681,Grand St,40.715178,-74.037683,2019-12-01 00:07:13.9360,3198,Heights Elevator,40.748716,-74.040443,2019-12-01 00:33:07.6820
1,29610,Male,1956,65,416,3195,Sip Ave,40.730897,-74.063913,2019-12-01 00:16:40.4700,3679,Bergen Ave,40.722104,-74.071455,2019-12-01 00:23:36.5700
2,26166,Male,1977,44,294,3195,Sip Ave,40.730897,-74.063913,2019-12-01 00:20:29.7980,3678,Fairmount Ave,40.725726,-74.071959,2019-12-01 00:25:23.9690
3,29492,Male,1993,28,97,3202,Newport PATH,40.727224,-74.033759,2019-12-01 00:21:13.7580,3638,Washington St,40.724294,-74.035483,2019-12-01 00:22:51.5970
4,29440,Male,1990,31,286,3195,Sip Ave,40.730897,-74.063913,2019-12-01 00:29:58.0230,3679,Bergen Ave,40.722104,-74.071455,2019-12-01 00:34:44.2280

In [20]:
# Rename 2020 columns

bike_data_2020_renamed = bike_data_2020_rearranged.rename(columns={"bikeid":"Bike ID", 
                                                              "gender":"Gender",
                                                              "birth year":"Birth Year",
                                                              "age":"Age",
                                                              "tripduration":"Trip Duration",
                                                              "start station id":"Start Station ID",
                                                              "start station name":"Start Station Name",
                                                              "start station latitude":"Start Station Latitude",
                                                              "start station longitude":"Start Station Longitude",
                                                              "starttime":"Start Time",
                                                              "end station id":"End Station ID",
                                                              "end station name":"End Station Name",
                                                              "end station latitude":"End Station Latitude",
                                                              "end station longitude":"End Station Longitude",
                                                              "stoptime":"Stop Time"})

bike_data_2020_renamed.head()

,Bike ID,Gender,Birth Year,Age,Trip Duration,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,Start Time,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Stop Time
0,29462,Male,1980,41,1553,3681,Grand St,40.715178,-74.037683,2019-12-01 00:07:13.9360,3198,Heights Elevator,40.748716,-74.040443,2019-12-01 00:33:07.6820
1,29610,Male,1956,65,416,3195,Sip Ave,40.730897,-74.063913,2019-12-01 00:16:40.4700,3679,Bergen Ave,40.722104,-74.071455,2019-12-01 00:23:36.5700
2,26166,Male,1977,44,294,3195,Sip Ave,40.730897,-74.063913,2019-12-01 00:20:29.7980,3678,Fairmount Ave,40.725726,-74.071959,2019-12-01 00:25:23.9690
3,29492,Male,1993,28,97,3202,Newport PATH,40.727224,-74.033759,2019-12-01 00:21:13.7580,3638,Washington St,40.724294,-74.035483,2019-12-01 00:22:51.5970
4,29440,Male,1990,31,286,3195,Sip Ave,40.730897,-74.063913,2019-12-01 00:29:58.0230,3679,Bergen Ave,40.722104,-74.071455,2019-12-01 00:34:44.2280

In [ ]:
# Save each cleaned dataset

bike_data_2019_renamed.to_csv("../Outputs/bike_data_2019", index=False, header=True)
bike_data_2020_renamed.to_csv("../Outputs/bike_data_2020", index=False, header=True)