In [19]:
# Import Dependicies

import pandas as pd
import numpy as np

In [20]:
# Read CSVs

csv_202010 = "../Resources/JC-202010-citibike-tripdata.csv"
csv_202011 = "../Resources/JC-202011-citibike-tripdata.csv"
csv_202012 = "../Resources/JC-202012-citibike-tripdata.csv"

bike_data_202010 = pd.read_csv(csv_202010)
bike_data_202011 = pd.read_csv(csv_202011)
bike_data_202012 = pd.read_csv(csv_202012)

In [21]:
# View bike 202010 data

bike_data_202010.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,156,2020-10-01 00:02:40.2600,2020-10-01 00:05:17.0140,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,42293,Subscriber,1996,1
1,143,2020-10-01 00:02:53.5020,2020-10-01 00:05:16.9650,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,44740,Subscriber,1998,1
2,305,2020-10-01 00:04:31.3160,2020-10-01 00:09:36.3840,3273,Manila & 1st,40.721651,-74.042884,3269,Brunswick & 6th,40.726012,-74.050389,41369,Subscriber,1988,2
3,1097,2020-10-01 00:05:18.3680,2020-10-01 00:23:36.1240,3199,Newport Pkwy,40.728745,-74.032108,3281,Leonard Gordon Park,40.745910,-74.057271,42285,Customer,2001,1
4,277,2020-10-01 00:09:17.5990,2020-10-01 00:13:55.5150,3199,Newport Pkwy,40.728745,-74.032108,3638,Washington St,40.724294,-74.035483,45231,Subscriber,1965,1

In [22]:
# View bike 202011 data

bike_data_202011.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,756,2020-11-01 00:11:32.6250,2020-11-01 00:24:09.5850,3275,Columbus Drive,40.718355,-74.038914,3225,Baldwin at Montgomery,40.723659,-74.064194,42436,Subscriber,1984,1
1,584,2020-11-01 00:14:20.4820,2020-11-01 00:24:04.7820,3681,Grand St,40.715178,-74.037683,3209,Brunswick St,40.724176,-74.050656,46532,Customer,1969,0
2,403,2020-11-01 00:22:55.8820,2020-11-01 00:29:39.0950,3203,Hamilton Park,40.727596,-74.044247,3483,Montgomery St,40.719420,-74.050990,35139,Subscriber,1980,1
3,498,2020-11-01 00:41:37.4270,2020-11-01 00:49:55.7010,3268,Lafayette Park,40.713464,-74.062859,3213,Van Vorst Park,40.718489,-74.047727,46539,Customer,1969,0
4,151,2020-11-01 00:53:21.2340,2020-11-01 00:55:52.8060,3185,City Hall,40.717733,-74.043845,3276,Marin Light Rail,40.714584,-74.042817,44388,Subscriber,1986,1

In [23]:
# View bike 202012 data

bike_data_202012.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,146,2020-12-01 00:02:50.1450,2020-12-01 00:05:16.1940,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,2
1,572,2020-12-01 00:11:57.3910,2020-12-01 00:21:30.2510,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,2
2,387,2020-12-01 00:14:49.3610,2020-12-01 00:21:16.8730,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,1
3,188,2020-12-01 00:45:06.3680,2020-12-01 00:48:14.4280,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,1
4,594,2020-12-01 01:17:17.0110,2020-12-01 01:27:11.9400,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,1

In [24]:
# Changing gender column to string values

bike_data_202010['gender'] = bike_data_202010['gender'].astype(str)
bike_data_202011['gender'] = bike_data_202011['gender'].astype(str)
bike_data_202012['gender'] = bike_data_202012['gender'].astype(str)

In [25]:
# Changing gender column to reflect Female/Male for 202010

gender_202010 = bike_data_202010['gender']
female_202010 = gender_202010.replace('2', 'Female')
male_202010 = female_202010.replace('1', 'Male')
unknown_202010 = male_202010.replace('0', 'Unknown')
bike_data_202010['gender'] = unknown_202010
bike_data_202010.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,156,2020-10-01 00:02:40.2600,2020-10-01 00:05:17.0140,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,42293,Subscriber,1996,Male
1,143,2020-10-01 00:02:53.5020,2020-10-01 00:05:16.9650,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,44740,Subscriber,1998,Male
2,305,2020-10-01 00:04:31.3160,2020-10-01 00:09:36.3840,3273,Manila & 1st,40.721651,-74.042884,3269,Brunswick & 6th,40.726012,-74.050389,41369,Subscriber,1988,Female
3,1097,2020-10-01 00:05:18.3680,2020-10-01 00:23:36.1240,3199,Newport Pkwy,40.728745,-74.032108,3281,Leonard Gordon Park,40.745910,-74.057271,42285,Customer,2001,Male
4,277,2020-10-01 00:09:17.5990,2020-10-01 00:13:55.5150,3199,Newport Pkwy,40.728745,-74.032108,3638,Washington St,40.724294,-74.035483,45231,Subscriber,1965,Male

In [26]:
# Changing gender column to reflect Female/Male for 202011

gender_202011 = bike_data_202011['gender']
female_202011 = gender_202011.replace('2', 'Female')
male_202011 = female_202011.replace('1', 'Male')
unknown_202011 = male_202011.replace('0', 'Unknown')
bike_data_202011['gender'] = unknown_202011
bike_data_202011.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,756,2020-11-01 00:11:32.6250,2020-11-01 00:24:09.5850,3275,Columbus Drive,40.718355,-74.038914,3225,Baldwin at Montgomery,40.723659,-74.064194,42436,Subscriber,1984,Male
1,584,2020-11-01 00:14:20.4820,2020-11-01 00:24:04.7820,3681,Grand St,40.715178,-74.037683,3209,Brunswick St,40.724176,-74.050656,46532,Customer,1969,Unknown
2,403,2020-11-01 00:22:55.8820,2020-11-01 00:29:39.0950,3203,Hamilton Park,40.727596,-74.044247,3483,Montgomery St,40.719420,-74.050990,35139,Subscriber,1980,Male
3,498,2020-11-01 00:41:37.4270,2020-11-01 00:49:55.7010,3268,Lafayette Park,40.713464,-74.062859,3213,Van Vorst Park,40.718489,-74.047727,46539,Customer,1969,Unknown
4,151,2020-11-01 00:53:21.2340,2020-11-01 00:55:52.8060,3185,City Hall,40.717733,-74.043845,3276,Marin Light Rail,40.714584,-74.042817,44388,Subscriber,1986,Male

In [27]:
# Changing gender column to reflect Female/Male for 202012

gender_202012 = bike_data_202012['gender']
female_202012 = gender_202012.replace('2', 'Female')
male_202012 = female_202012.replace('1', 'Male')
unknown_202012 = male_202012.replace('0', 'Unknown')
bike_data_202012['gender'] = unknown_202012
bike_data_202012.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,146,2020-12-01 00:02:50.1450,2020-12-01 00:05:16.1940,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,Female
1,572,2020-12-01 00:11:57.3910,2020-12-01 00:21:30.2510,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,Female
2,387,2020-12-01 00:14:49.3610,2020-12-01 00:21:16.8730,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,Male
3,188,2020-12-01 00:45:06.3680,2020-12-01 00:48:14.4280,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,Male
4,594,2020-12-01 01:17:17.0110,2020-12-01 01:27:11.9400,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,Male

In [28]:
# Calculating the age of each biker

current_year = 2021

birth_year_202010 = bike_data_202010['birth year']
age = current_year - birth_year_202010
bike_data_202010['age'] = age

birth_year_202011 = bike_data_202011['birth year']
age = current_year - birth_year_202011
bike_data_202011['age'] = age

birth_year_202012 = bike_data_202012['birth year']
age = current_year - birth_year_202012
bike_data_202012['age'] = age

In [29]:
# Rearrange 202010 columns

bike_data_202010_rearranged = bike_data_202010[["bikeid",
                                       "gender",
                                       "birth year",
                                       "age",
                                       "usertype",
                                       "tripduration",
                                       "start station id",
                                       "start station name",
                                       "start station latitude",
                                       "start station longitude",
                                       "starttime",
                                       "end station id",
                                       "end station name", 
                                       "end station latitude",
                                       "end station longitude",
                                       "stoptime"]]

bike_data_202010_rearranged.head()

,bikeid,gender,birth year,age,usertype,tripduration,start station id,start station name,start station latitude,start station longitude,starttime,end station id,end station name,end station latitude,end station longitude,stoptime
0,42293,Male,1996,25,Subscriber,156,3186,Grove St PATH,40.719586,-74.043117,2020-10-01 00:02:40.2600,3270,Jersey & 6th St,40.725289,-74.045572,2020-10-01 00:05:17.0140
1,44740,Male,1998,23,Subscriber,143,3186,Grove St PATH,40.719586,-74.043117,2020-10-01 00:02:53.5020,3270,Jersey & 6th St,40.725289,-74.045572,2020-10-01 00:05:16.9650
2,41369,Female,1988,33,Subscriber,305,3273,Manila & 1st,40.721651,-74.042884,2020-10-01 00:04:31.3160,3269,Brunswick & 6th,40.726012,-74.050389,2020-10-01 00:09:36.3840
3,42285,Male,2001,20,Customer,1097,3199,Newport Pkwy,40.728745,-74.032108,2020-10-01 00:05:18.3680,3281,Leonard Gordon Park,40.745910,-74.057271,2020-10-01 00:23:36.1240
4,45231,Male,1965,56,Subscriber,277,3199,Newport Pkwy,40.728745,-74.032108,2020-10-01 00:09:17.5990,3638,Washington St,40.724294,-74.035483,2020-10-01 00:13:55.5150

In [30]:
# Rearrange 202011 columns

bike_data_202011_rearranged = bike_data_202011[["bikeid",
                                       "gender",
                                       "birth year",
                                       "age",
                                       "usertype",
                                       "tripduration",
                                       "start station id",
                                       "start station name",
                                       "start station latitude",
                                       "start station longitude",
                                       "starttime",
                                       "end station id",
                                       "end station name", 
                                       "end station latitude",
                                       "end station longitude",
                                       "stoptime"]]

bike_data_202011_rearranged.head()

,bikeid,gender,birth year,age,usertype,tripduration,start station id,start station name,start station latitude,start station longitude,starttime,end station id,end station name,end station latitude,end station longitude,stoptime
0,42436,Male,1984,37,Subscriber,756,3275,Columbus Drive,40.718355,-74.038914,2020-11-01 00:11:32.6250,3225,Baldwin at Montgomery,40.723659,-74.064194,2020-11-01 00:24:09.5850
1,46532,Unknown,1969,52,Customer,584,3681,Grand St,40.715178,-74.037683,2020-11-01 00:14:20.4820,3209,Brunswick St,40.724176,-74.050656,2020-11-01 00:24:04.7820
2,35139,Male,1980,41,Subscriber,403,3203,Hamilton Park,40.727596,-74.044247,2020-11-01 00:22:55.8820,3483,Montgomery St,40.719420,-74.050990,2020-11-01 00:29:39.0950
3,46539,Unknown,1969,52,Customer,498,3268,Lafayette Park,40.713464,-74.062859,2020-11-01 00:41:37.4270,3213,Van Vorst Park,40.718489,-74.047727,2020-11-01 00:49:55.7010
4,44388,Male,1986,35,Subscriber,151,3185,City Hall,40.717733,-74.043845,2020-11-01 00:53:21.2340,3276,Marin Light Rail,40.714584,-74.042817,2020-11-01 00:55:52.8060

In [31]:
# Rearrange 202012 columns

bike_data_202012_rearranged = bike_data_202012[["bikeid",
                                       "gender",
                                       "birth year",
                                       "age",
                                       "usertype",
                                       "tripduration",
                                       "start station id",
                                       "start station name",
                                       "start station latitude",
                                       "start station longitude",
                                       "starttime",
                                       "end station id",
                                       "end station name", 
                                       "end station latitude",
                                       "end station longitude",
                                       "stoptime"]]

bike_data_202012_rearranged.head()

,bikeid,gender,birth year,age,usertype,tripduration,start station id,start station name,start station latitude,start station longitude,starttime,end station id,end station name,end station latitude,end station longitude,stoptime
0,42308,Female,1989,32,Subscriber,146,3202,Newport PATH,40.727224,-74.033759,2020-12-01 00:02:50.1450,3199,Newport Pkwy,40.728745,-74.032108,2020-12-01 00:05:16.1940
1,18568,Female,1997,24,Subscriber,572,3640,Journal Square,40.733670,-74.062500,2020-12-01 00:11:57.3910,3280,Astor Place,40.719282,-74.071262,2020-12-01 00:21:30.2510
2,44543,Male,1960,61,Subscriber,387,3640,Journal Square,40.733670,-74.062500,2020-12-01 00:14:49.3610,3194,McGinley Square,40.725340,-74.067622,2020-12-01 00:21:16.8730
3,43098,Male,1998,23,Subscriber,188,3186,Grove St PATH,40.719586,-74.043117,2020-12-01 00:45:06.3680,3270,Jersey & 6th St,40.725289,-74.045572,2020-12-01 00:48:14.4280
4,44723,Male,1988,33,Subscriber,594,3212,Christ Hospital,40.734786,-74.050444,2020-12-01 01:17:17.0110,3209,Brunswick St,40.724176,-74.050656,2020-12-01 01:27:11.9400

In [34]:
# Rename 202010 columns

bike_data_202010_renamed = bike_data_202010_rearranged.rename(columns={"bikeid":"Bike ID", 
                                                              "gender":"Gender",
                                                              "birth year":"Birth Year",
                                                              "age":"Age",
                                                              "usertype":"User Type",
                                                              "tripduration":"Trip Duration",
                                                              "start station id":"Start Station ID",
                                                              "start station name":"Start Station Name",
                                                              "start station latitude":"Start Station Latitude",
                                                              "start station longitude":"Start Station Longitude",
                                                              "starttime":"Start Time",
                                                              "end station id":"End Station ID",
                                                              "end station name":"End Station Name",
                                                              "end station latitude":"End Station Latitude",
                                                              "end station longitude":"End Station Longitude",
                                                              "stoptime":"Stop Time"})

bike_data_202010_renamed.head()

,Bike ID,Gender,Birth Year,Age,User Type,Trip Duration,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,Start Time,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Stop Time
0,42293,Male,1996,25,Subscriber,156,3186,Grove St PATH,40.719586,-74.043117,2020-10-01 00:02:40.2600,3270,Jersey & 6th St,40.725289,-74.045572,2020-10-01 00:05:17.0140
1,44740,Male,1998,23,Subscriber,143,3186,Grove St PATH,40.719586,-74.043117,2020-10-01 00:02:53.5020,3270,Jersey & 6th St,40.725289,-74.045572,2020-10-01 00:05:16.9650
2,41369,Female,1988,33,Subscriber,305,3273,Manila & 1st,40.721651,-74.042884,2020-10-01 00:04:31.3160,3269,Brunswick & 6th,40.726012,-74.050389,2020-10-01 00:09:36.3840
3,42285,Male,2001,20,Customer,1097,3199,Newport Pkwy,40.728745,-74.032108,2020-10-01 00:05:18.3680,3281,Leonard Gordon Park,40.745910,-74.057271,2020-10-01 00:23:36.1240
4,45231,Male,1965,56,Subscriber,277,3199,Newport Pkwy,40.728745,-74.032108,2020-10-01 00:09:17.5990,3638,Washington St,40.724294,-74.035483,2020-10-01 00:13:55.5150

In [35]:
# Rename 202011 columns

bike_data_202011_renamed = bike_data_202011_rearranged.rename(columns={"bikeid":"Bike ID", 
                                                              "gender":"Gender",
                                                              "birth year":"Birth Year",
                                                              "age":"Age",
                                                              "usertype":"User Type",
                                                              "tripduration":"Trip Duration",
                                                              "start station id":"Start Station ID",
                                                              "start station name":"Start Station Name",
                                                              "start station latitude":"Start Station Latitude",
                                                              "start station longitude":"Start Station Longitude",
                                                              "starttime":"Start Time",
                                                              "end station id":"End Station ID",
                                                              "end station name":"End Station Name",
                                                              "end station latitude":"End Station Latitude",
                                                              "end station longitude":"End Station Longitude",
                                                              "stoptime":"Stop Time"})

bike_data_202011_renamed.head()

,Bike ID,Gender,Birth Year,Age,User Type,Trip Duration,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,Start Time,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Stop Time
0,42436,Male,1984,37,Subscriber,756,3275,Columbus Drive,40.718355,-74.038914,2020-11-01 00:11:32.6250,3225,Baldwin at Montgomery,40.723659,-74.064194,2020-11-01 00:24:09.5850
1,46532,Unknown,1969,52,Customer,584,3681,Grand St,40.715178,-74.037683,2020-11-01 00:14:20.4820,3209,Brunswick St,40.724176,-74.050656,2020-11-01 00:24:04.7820
2,35139,Male,1980,41,Subscriber,403,3203,Hamilton Park,40.727596,-74.044247,2020-11-01 00:22:55.8820,3483,Montgomery St,40.719420,-74.050990,2020-11-01 00:29:39.0950
3,46539,Unknown,1969,52,Customer,498,3268,Lafayette Park,40.713464,-74.062859,2020-11-01 00:41:37.4270,3213,Van Vorst Park,40.718489,-74.047727,2020-11-01 00:49:55.7010
4,44388,Male,1986,35,Subscriber,151,3185,City Hall,40.717733,-74.043845,2020-11-01 00:53:21.2340,3276,Marin Light Rail,40.714584,-74.042817,2020-11-01 00:55:52.8060

In [36]:
# Rename 202012 columns

bike_data_202012_renamed = bike_data_202012_rearranged.rename(columns={"bikeid":"Bike ID", 
                                                              "gender":"Gender",
                                                              "birth year":"Birth Year",
                                                              "age":"Age",
                                                              "usertype":"User Type",
                                                              "tripduration":"Trip Duration",
                                                              "start station id":"Start Station ID",
                                                              "start station name":"Start Station Name",
                                                              "start station latitude":"Start Station Latitude",
                                                              "start station longitude":"Start Station Longitude",
                                                              "starttime":"Start Time",
                                                              "end station id":"End Station ID",
                                                              "end station name":"End Station Name",
                                                              "end station latitude":"End Station Latitude",
                                                              "end station longitude":"End Station Longitude",
                                                              "stoptime":"Stop Time"})

bike_data_202012_renamed.head()

,Bike ID,Gender,Birth Year,Age,User Type,Trip Duration,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,Start Time,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Stop Time
0,42308,Female,1989,32,Subscriber,146,3202,Newport PATH,40.727224,-74.033759,2020-12-01 00:02:50.1450,3199,Newport Pkwy,40.728745,-74.032108,2020-12-01 00:05:16.1940
1,18568,Female,1997,24,Subscriber,572,3640,Journal Square,40.733670,-74.062500,2020-12-01 00:11:57.3910,3280,Astor Place,40.719282,-74.071262,2020-12-01 00:21:30.2510
2,44543,Male,1960,61,Subscriber,387,3640,Journal Square,40.733670,-74.062500,2020-12-01 00:14:49.3610,3194,McGinley Square,40.725340,-74.067622,2020-12-01 00:21:16.8730
3,43098,Male,1998,23,Subscriber,188,3186,Grove St PATH,40.719586,-74.043117,2020-12-01 00:45:06.3680,3270,Jersey & 6th St,40.725289,-74.045572,2020-12-01 00:48:14.4280
4,44723,Male,1988,33,Subscriber,594,3212,Christ Hospital,40.734786,-74.050444,2020-12-01 01:17:17.0110,3209,Brunswick St,40.724176,-74.050656,2020-12-01 01:27:11.9400

In [37]:
# Save each cleaned dataset

bike_data_202010_renamed.to_csv("../Outputs/bike_data_202010.csv", index=False, header=True)
bike_data_202011_renamed.to_csv("../Outputs/bike_data_202011.csv", index=False, header=True)
bike_data_202012_renamed.to_csv("../Outputs/bike_data_202012.csv", index=False, header=True)